ShibRedirectToSSL 443
AuthType shibboleth
ShibRequireSession on
require shib-attr ritEduAffiliation Student
require shib-attr ritEduAffiliation StudentWorker
require shib-attr ritEduAffiliation Employee