body, html
{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    list-style:none;
    padding-left:0;
}

ul{
    width: 200px;
    margin: 0 auto !important;
}

.pure-g
{
    text-align: center;
}

form
{
    padding: 15px;
    text-align: left;
}

#logo-wrapper
{
    background: #0062A0;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}